In [23]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score 
import time
from sklearn.externals import joblib

E:\anaconda\lib\site-packages\sklearn\externals\joblib\__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

### import data

In [5]:
data_full = pd.read_csv("../output/data_unsplit.csv")
path = 'C:/Users/jiaoh/Documents/GitHub/Spring2020-Project3-group2/hanbojiao_test/output/'
data_full = pd.read_csv(path + "data_unsplit.csv")

In [6]:
data_full.head()

,Unnamed: 0,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,...,feature5998,feature5999,feature6000,feature6001,feature6002,feature6003,feature6004,feature6005,feature6006,emotion_idx
0,1,45,28,6,16,37,22,1,25,176,...,111,168,225,56,113,170,57,114,57,1
1,2,44,27,5,19,36,20,2,24,170,...,111,169,228,58,116,175,58,117,59,1
2,3,42,24,3,18,33,15,5,23,153,...,102,156,211,53,107,162,54,109,55,1
3,4,47,27,7,15,31,13,8,29,166,...,112,173,234,60,121,182,61,122,61,1
4,5,35,22,1,19,36,19,0,18,161,...,102,157,211,52,107,161,55,109,54,1

In [7]:
data_full.shape

(2500, 6008)

### split into a train and test set

In [8]:
X, y = data_full.iloc[:,:-1],data_full.emotion_idx
X = StandardScaler().fit_transform(X)
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.2, random_state=123)

### fit model

In [9]:
rfc = RandomForestClassifier(n_estimators = 100, criterion = 'gini', 
                             random_state = 42, min_samples_leaf=1, max_features='sqrt')
rfc.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='sqrt', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

### estimate accuracy

In [7]:
train_pred = rfc.predict(X_train)
train_accuracy = accuracy_score(y_train, train_pred)
print("Train Dataset Accuracy: %.2f%%" % (train_accuracy * 100.0))

Train Dataset Accuracy: 100.00%

In [8]:
test_pred = rfc.predict(X_test)
#print(pd.crosstab(y_test, test_pred, rownames=['Actual'], colnames=['Predicted']))
test_accuracy = accuracy_score(y_test, test_pred)
print("Test Dataset Accuracy: %.2f%%" % (test_accuracy * 100.0))

Test Dataset Accuracy: 44.40%

### Use K-Fold to estimate the accuracy (43.32%)

In [10]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

In [17]:
kfold = KFold(n_splits=10, shuffle=True)
results = cross_val_score(RandomForestClassifier(n_estimators = 100, criterion = 'gini', 
                              min_samples_leaf=1, max_features='sqrt'), X,y, cv=kfold)
print("Accuracy: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

Accuracy: 46.08% (3.22%)

### Fit the final model and save it

In [21]:
t0 = time.time()
rfc.fit(X,y)
print("done in %0.3fs" % (time.time() - t0))

done in 9.101s

In [24]:
joblib.dump(rfc,'randomforest.m')#please change the path

['randomforest.m']

In [ ]:
#joblib.load('C:/Users/jiaoh/Documents/GitHub/Spring2020-Project3-group2/hanbojiao_test/doc/randomforest.m')